parameters:
    level: 8
    paths:
        - wp-content/plugins/coco-gravity-form-map-field/
    bootstrapFiles:
        - vendor/szepeviktor/phpstan-wordpress/bootstrap.php # Ensures WordPress functions are loaded
    ignoreErrors:
        - '#Function (.*) not found.#' # Ignore custom functions if necessary
    inferPrivatePropertyTypeFromConstructor: true
